<?xml version="1.0" encoding="utf-8"?>
<Atmosphere>
	<serverIP>127.0.0.1</serverIP>
	<serverPort>2303</serverPort>
	<screenSizeWidth>1024</screenSizeWidth>
	<screenSizeHeight>768</screenSizeHeight>	
	<joinType>0</joinType>
	<!--
		<serverIP>128.54.70.26</serverIP> //17 Arjay's comp
		<serverIP>128.54.70.27</serverIP> //18 Daniel's comp
		<serverIP>128.54.70.28</serverIP> //19 Yuriy's comp
		<serverIP>128.54.70.29</serverIP> //20 Nick's comp
		<serverIP>128.54.70.34</serverIP> //com 25
		<serverIP>128.54.70.36</serverIP> //com 27	
	-->
</Atmosphere>
