<?xml version="1.0" encoding="utf-8"?>
<ParticleSystem>
	<TypeName type="char">
		<a>E_THRUST</a>
		<b>E_EXPLOSION_CLUSTER</b> 
		<c>E_PROJECTILE_TYPE_1</c>
		<d>E_CLOUDS</d>
	</TypeName>
	<TypeQuantity type="int">
		<a>4</a>
		<b>4</b>
		<c>200</c>
		<d>1</d>
	</TypeQuantity>
	<emitPosition type="D3DXVECTOR3">
		<a type="float" x="0.0" y="-0.5" z="0.0" />
		<b type="float" x="0.0" y="0.0" z="0.0" />
		<c type="float" x="0.0" y="0.0" z="0.0" />
		<d type="float" x="0.0" y="0.0" z="0.0" />
	</emitPosition>
	<emitDirection type="D3DXVECTOR3">
		<a type="float" x="0.0" y="-1.0" z="0.0" />
		<b type="float" x="0.0" y="0.0" z="-1.0" />
		<c type="float" x="0.0" y="1.0" z="0.0" />
		<d type="float" x="0.0" y="0.0" z="1.0" />
	</emitDirection>
	<emitColor type="D3DXVECTOR3">
		<a type="float" x="0.0" y="0.0" z="0.0" />
		<b type="float" x="0.0" y="0.0" z="0.0" />
		<c type="float" x="0.0" y="0.0" z="0.0" />
		<d type="float" x="1.0" y="1.0" z="1.0" />
	</emitColor>
	<TexFileName type="char">
		<a>..\\Media\\Textures\\ParticleSystem\\flamealpha.png</a>
		<b>..\\Media\\Textures\\ParticleSystem\\spark.png</b>
		<c>..\\Media\\Textures\\ParticleSystem\\E_Projectile_Type_1.png</c>
		<d>..\\Media\\Textures\\ParticleSystem\\E_Clouds.png</d>
	</TexFileName>
	<ColorMapFileName type="char">
		<a>..\\Media\\Textures\\ParticleSystem\\E_Thruster_Map.png</a>
		<b>..\\Media\\Textures\\ParticleSystem\\E_Explosion_Cluster_Map.png</b>
		<c>..\\Media\\Textures\\ParticleSystem\\E_Projectile_Type_1_Map.png</c>
		<d>..\\Media\\Textures\\ParticleSystem\\E_Default_Map.png</d>
	</ColorMapFileName>
	<EffectFileName type="char">
		<a>..\\ParticleSystemManager\\Effects\\E_Thrust.fx</a>
		<b>..\\ParticleSystemManager\\Effects\\E_Explosion_Cluster.fx</b>
		<c>..\\ParticleSystemManager\\Effects\\E_Projectile_Type_1.fx</c>
		<d>..\\ParticleSystemManager\\Effects\\E_Clouds.fx</d>
	</EffectFileName>
	<PartNum type="int">
		<a>300</a>
		<b>200</b>
		<c>5</c>
		<d>300</d>
	</PartNum>
	<emitTTL type="int">
		<a>1</a>
		<b>500</b>
		<c>1</c>
		<d>0</d>
	</emitTTL>
	<partTTL type="int">
		<a>220</a>
		<b>500</b>
		<c>0</c>
		<d>1</d>
	</partTTL>
	<emitPeriod type="int">
		<a>0</a>
		<b>500</b>
		<c>0</c>
		<d>0</d>
	</emitPeriod>
	<emitQty type="int">
		<a>10</a>
		<b>200</b>
		<c>5</c>
		<d>300</d>
	</emitQty>
	<emitSpeed type="float">
		<a>0.004</a>
		<b>0.013</b>
		<c>0.0</c>
		<d>0.0</d>
	</emitSpeed>
	<emitSpread type="D3DXVECTOR2">
		<a type="float" x="1" y="1" />
		<b type="float" x="1.5" y="1.5" />
		<c type="float" x="0" y="0" />
		<d type="float" x="0" y="0" />
	</emitSpread>
	<emitDisp type="float">
		<a>0.25</a>
		<b>0.5</b>
		<c>0.0</c>
		<d>0.0</d>
	</emitDisp>
	<initPSize type="float">
		<a>7.0</a>
		<b>25.0</b>
		<c>6.0</c>
		<d>100.0</d>
	</initPSize>
	<initAlpha type="float">
		<a>1.0</a>
		<b>1.0</b>
		<c>1.0</c>
		<d>0.6</d>
	</initAlpha>
</ParticleSystem>